@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:aqua;
    font-family:'Irish Grover', cursive;
}

.container {
    margin: 179px 35px 71px 129px;
    height: 58vh;
    background-color: #ff00c8;
    padding: 0 100px;
}

.button {
    border-top: 5px solid #580707;
    border-right: 7px dashed #dfff00;
    border-bottom: 2px dotted #a200ff;
    border-left: 6px solid #00f;
    height: 150px;
    width: 350px;
    font-size: 54px;
}

.button:hover {
    transition: .2s;
    font-size: 96px;
    opacity: 0.2;
    background-color: #333;
}

#message {
    float: right;
    margin-top: 308px;
    height: 80px;
    width: 370px;
    border: 1px solid black;
    font-size: 100px;
    overflow: hidden;
} 

.list {
    margin-top: 31px;
    margin-left: 13px;
    height: 250px;
    width: 462px;
    font-size: 19px;
    overflow: hidden;
    background-color: rgb(143, 112, 46);
}

.list:hover {
    background-color: black
}